<div class="container" style="margin-top:15px;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <span style="display:inline;" ng-repeat="word in vm.wordBank track by $index">
            <span ng-class="{'color-green': vm.correctWords.indexOf($index) > -1, 'color-red': vm.incorrectWords.indexOf($index) > -1, 'word-active': vm.onWord == $index}" style="padding:5px;">{{ word }}</span>
          </span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" ng-keydown="vm.checkWord($event)" ng-keyup="vm.checkChar($event)" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="vm.refresh()"><i class="fa fa-fw fa-refresh"></i></button>
        </span>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3" style="margin-top:20px;">
      <div class="panel panel-default">
        <div class="panel-body">
          <b>{{ vm.wordsPerMinute }}</b> Word Per Minute<br>
          {{ vm.counter }} <br>
          <span>On char: {{ vm.onChar }}</span><br>
          <span class="color-green">{{ vm.correctWords.length }} correct words.</span><br>
          <span class="color-red">{{ vm.incorrectWords.length }} incorrect words.</span><br>
          <span class="color-green">{{ vm.correctChars }} correct characters.</span><br>
          <span class="color-red">{{ vm.incorrectChars }} incorrect characters.</span>
        </div>
      </div>
    </div>
  </div>
</div>
